extends layout

block content
    form(action="/input/analysis" method="POST")
        label(for="chinese") Chinese: 
        input(type="text", id="chinese", name="chinese")

        button(type="submit") Submit 