extends layout

block content
    form.upup(action="/input/analysis" method="POST")
        label(for="chinese") Chinese: 
        textarea(name="chinese",rows="4" cols="40" autofocus) 你好！
        //- (type="text", id="chinese", name="chinese")
        br
        button(type="submit") Submit 