extends layout

block content
    h1 dict selection 

    P Dictionaries:
    ul
        each dict in dictionaries
            li= dict.name
    
    select(id="selectedDict",name="dictName")
        each dict in dictionaries
            option(value=dict.id) #{dict.name}
    button(id="confirmation",onclick='gotoManager()') Select Dicts To Manage

    script.
        function gotoManager() {
            const selectedDictId = document.getElementById("selectedDict").value;
            location.href=`/dicts/${selectedDictId}/manage`;
        };
