extends layout

block content
  h1 CSGO
  p Welcome to CSGO: Chinese Segmentation and Grabbing Optimizer
  br
  h1 
    a(href="/input") Input Chinese! 
  p or 
  h1 
    a(href="/dicts") Manage Dictionaries!

