@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC&display=swap');

:root {
  --charaPx: 3.9vw;
  /* --charaPx: 5svh; */
  --marginEm: 0.05em
}


body {
  padding: var(--charaPx);
  font: var(--charaPx) "Lucida Grande", Helvetica, Arial, sans-serif;
  word-break: auto-phrase;
  font-family: "Noto Sans SC" sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

h1,
h2 {
  /* margin-top: var(--marginEm); */
  margin-bottom: var(--marginEm);
}

p {
  margin-top: var(--marginEm);
  margin-bottom: var(--marginEm);
}

link {
  margin-top: var(--marginEm);
}

a {
  color: #00B7FF;
}

button {
  font-size: var(--charaPx)
}

textarea {
  font-size: var(--charaPx);
  font-family: "Noto Serif SC", serif;
  font-weight: 400;
  font-style: normal;
}

select {
  font-size: var(--charaPx)
}

input[type=checkbox] {
  width: 45px;
  height: 45px;
}

input[type="text"] {
  /* padding: 20px 10px;
  line-height: var(--charaPx); */
  font-size: var(--charaPx);
  font-family: "Noto Serif SC", serif;
  font-weight: 400;
  font-style: normal;
}

table {
  border-collapse: collapse;
}

td,
th {
  /* font-family: "Noto Sans SC", sans-serif;
  font-weight: 400;
  font-style: normal; */
  font-family: "Noto Serif SC", serif;
  font-weight: 400;
  font-style: normal;
}

.upup {
  display: flex;
  align-items: flex-start;
}

.SentenceWordWidth {
  table-layout: fixed;
  padding: 3vw
}

.noto-serif-sc-regular {
  font-family: "Noto Serif SC", serif;
  font-weight: 400;
  font-style: normal;
}